body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.row {
  padding: 1em;
}

.hidden {
  display: none;
}
input {
  background: transparent;
}
input[type=file]{
  width: auto;
  height: auto;
}
.order-container {
    width: 850px;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    display: block;
    padding: 40px 50px;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 300;
    color: #27292b!important;
    background: #f8f8fa;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(35, 31, 32, .14), 0 0 24px 0 rgba(35, 31, 32, .24);
    font-size: 90%;
    line-height: 1.5em;
    transform-origin: center;
}
@media all and (max-width: 767px)  {
    .order-container {
        margin-top: 0;
        height: 100vh;
        box-shadow: none;
    }
}
.order-container h2 {
    font-weight: 300;
    line-height: 1.2;
    font-size: 22px;
    letter-spacing: 1px;
}
@media all and (max-width: 767px) {
    .order-container h2 {
        width: 100%;
        font-size: 22px;
        margin-bottom: 40px
    }
}
.order-container .content-drop-preview-pic {
    float: left;
    width: 120px;
    height: 100px;
    line-height: 40px;
    text-align: center;
    margin-right: .25em
}
.order-container .dropzone-text {
    text-align: left;
    font-size: 15px
}
@media all and (max-width: 767px) {
    .order-container .hide-mobile {
        display: none
    }
}
.order-navigator {
    padding: 0;
    width: 55px;
    margin: 0 auto 20px
}
.order-navigator li {
    display: inline-block;
    list-style-type: none;
    margin-right: 8px;
    background: #d1d3d5;
    border-radius: 50%;
    width: 10px;
    height: 10px
}
.order-navigator li.active {
    background: #afb3b6
}
.order-hint {
    position: absolute;
    left: 10px;
    top: -40px;
    background: #7a8085;
    padding: 2px 10px;
    border-radius: 3px;
    height: 20px;
    color: #fff
}
.order-hint:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 30px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #7a8085;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}
.order-hint.order {
    left: 30%;
    top: -30px
}
@media all and (max-width: 767px) {
    .order-hint.order {
        left: initial
    }
}
.order-hint.order:after {
    border: 0;
    left: initial;
    right: 30px
}
@media all and (max-width: 767px) {
    .order-content {
        max-width: 300px;
        margin: 0 auto
    }
}
.order-info {
    width: 100%;
    padding: 0 0 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between
}
@media all and (max-width: 767px) {
    .order-info {
        justify-content: space-around;
        flex-direction: column
    }
}
.order-info-upload {
    padding: 1em;
    margin-right: 50px;
    width: 230px;
    height: 150px;
    background-color: #f3f3f5;
    border: dashed 1px #95999d;
    display: inline-block;
}


.order-info-upload:hover {
    background-color: #f0f0f2
}

.order-info-center {
    margin-left: 20px;
    padding: 50px 0;
    width: 200px;
    text-align: center
}
.order-info-arrow {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #7a8085;
    position: relative
}
.order-info-arrow-head {
    position: absolute;
    right: 0;
    top: 25px;
    width: 12px;
    height: 12px;
    border-top: solid 1px #7a8085;
    border-left: solid 1px #7a8085;
    transform: rotate(135deg)
}
.order-info-3d-img {
    width: 230px;
    height: 181px;
    filter: drop-shadow(0 0 10px rgba(122, 128, 133, .1))
}
.order-info-address-img {
    width: 250px;
    height: 150px;
    margin-right: 50px;
    flex: 1 0 auto
}
@media all and (max-width: 767px) {
    .order-info-address-img {
        width: 220px;
        height: 110px;
        margin: 0 auto 20px
    }
}
@media all and (max-width: 767px) {
    .order-address {
        display: flex;
        flex-direction: column
    }
}
.order-field {
    display: inline-block;
    position: relative;
}
@media all and (max-width: 767px) {
    .order-field {
        margin-top: 20px
    }
}
@media all and (max-width: 767px) {
    .order-field.address {
        margin-top: 0;
        margin-bottom: 20px;
        order: 1
    }
}
.order-btn-wrapper {
    position: absolute;
    bottom: 50px;
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-content: flex-end
}
@media all and (max-width: 767px) {
    .order-btn-wrapper {
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        width: 100%
    }
}
.order-btn-wrapper-center {
    font-size: 20px;
    margin: 50px auto
}
@media all and (max-width: 767px) {
    .order-btn-wrapper-center {
        margin: 40px auto 20px
    }
}
.order-btn-group {
    width: 235px
}
@media all and (max-width: 767px) {
    .order-btn-group {
        width: 100%
    }
}
.order-btn {
    border: 0;
    outline: 0;
    height: 43px;
    font-size: 16px;
    line-height: 45px;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: .3px;
    border-radius: 3px;
    padding: 0 32px;
    margin-top: 20px;
    margin-bottom: 2px;
    color: #fff;
    width: 235px;
    background-color: #1aacdb;
    box-shadow: 0 2px 0 0 #1aacdb
}
.order-btn:hover {
    background: #18a0cd;
    box-shadow: 0 2px 0 0 #0b475b
}
.order-btn.close-btn {
    margin: auto
}
.order-btn.facebook {
    padding: 0 0 0 45px;
    background: no-repeat 0 -5px;
    background-image: url(../img/facebook-icon-white.svg);
    background-size: 40px 100%;
    background-color: #3b5998;
    box-shadow: 0 2px 0 0 #3b5998;
    text-align: left
}
.order-btn.facebook:hover {
    background-color: #334a80;
    box-shadow: 0 2px 0 0 #141e33
}
.order-btn.google {
    padding: 0 0 0 45px;
    background: no-repeat 0 0;
    background-image: url(../img/google-icon-white.svg);
    background-size: 40px 100%;
    background-color: #db4437;
    box-shadow: 0 2px 0 0 #db4437;
    text-align: left
}
.order-btn.google:hover {
    background-color: #c4372d;
    box-shadow: 0 2px 0 0 #663026
}
.order-btn.white {
    height: 45px;
    background: 0 0;
    color: #27292b;
    box-shadow: none
}
@media all and (max-width: 767px) {
    .order-btn.white {
        order: 2
    }
}
.order-btn.white:hover {
    color: #27292b;
    background: #f0f0f2;
    box-shadow: 0 2px 0 0 #d1d3d5
}
@media all and (max-width: 767px) {
    .order-btn {
        width: 100%
    }
}
.order-text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .3px;
    margin-bottom: 15px
}
@media all and (max-width: 767px) {
    .order-text.address {
        order: 2
    }
}
.order-text.center {
    margin: 20px auto 15px;
    text-align: center
}
@media all and (max-width: 767px) {
    .order-text.center {
        margin-bottom: 80px
    }
}
.order-close {
    background: center no-repeat;
    background-size: 30px;
    background-image: url(../img/icon-close-black.svg);
    border: 0;
    position: absolute;
    right: 12px;
    top: 16px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f0f0f2
}
.order-close:hover {
    opacity: 1;
    background-color: #eaebed
}
input.order-input {
    font-size: 16px;
    padding: 5px 10px 10px 2px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #95999d;
    color: #27292b
}
@media all and (max-width: 767px) {
    input.order-input {
        width: 100%
    }
}
input.order-input:focus {
    outline: 0
}
input.order-input-invalid {
    border-bottom: 1px solid red
}
label.order-label {
    color: #95999d;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    pointer-events: none;
    left: 2px;
    top: 10px;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all
}
input.order-input:focus~label,
input.order-input:valid~label {
    top: -20px;
    font-size: 14px;
    font-weight: 300;
    color: #95999d
}
.dropzone-area {
    display: block
}
.dropzone-area input {
    cursor: pointer;
    width: 230px;
    height: 150px;
    opacity: 0;
}
.dropzone-text {
    color: #95999d;
    font-size: 14px;
    text-align: center;
    display: block
}
